<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
	<head>
		<title>Private Events <%= yield(:title) %> </title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm h-50 welcome">
					<h1>Welcome</h1>
					<p>This is Private Events. A site to create and promote your events.<br> Please log in or sign up if you are not already a member.</p>
					<div class="text-center">
						<%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
						<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<p>This is a project created for the Odin Project. To see all the features you can create your own account or if you would just like to look around you can use this guest account.  </p>
					<p>Email: guest@example.com</p>
					<p>Password: privateevents</p>
				</div>
				</div>
		</div>
	</body>
</html>