<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
	<head>
		<title>Private Events <%= yield(:title) %> </title>
	</head>
	<body>
		<h1>Private Events</h1>
			<ul>
				<li><%= link_to "All Events", events_path %></li>
				<li><%= link_to "Your Events", current_user %></li>
				<li><%= link_to "Create new event", new_event_path %></li>
			</ul>
	</body>
</html>