<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
	<head>
		<title>Private Events <%= yield(:title) %> </title>
	</head>
	<body>
		<div class="container">
			<div class="row home_page">
				<div class="col-sm-7">
					<h1>Private Events</h1>
				</div>
				<div class="col-sm-5">
					<%= link_to "Create new event", new_event_path, class: "btn btn-lg btn-primary" %>
				</div>	
			</div>
			<div class="row">
				<div class="col events-wrapper">
					<% if @events.any? %>
					<%= render 'events/upcoming_events' %>
					<% end %>
				</div>
			</div>

		</div>
		
	</body>
</html>