<div class="jumbotron jumbotron-fluid">
<div class="container about">
	<div class="row">
		<div class="col">
			App created by Jamesredux as part of the Odin Project
			Ruby on Rails section - <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/associations">Associations project.</a>
			
		</div>
		<div class="col">
			<ul>
			<li><%= link_to "Jamesredux's Github", 'https://github.com/Jamesredux' %></li>
			<li><%= link_to "The Odin Project", 'https://www.theodinproject.com/home' %></li>
			
		</ul>
		</div>	
	</div>

	<div class="row">
		<div class="col">
			
		</div>
		
		<div class="col">
			
		</div>	
	</div>

</div>

</div>