
<div class="row">
	<div class="col">
		<p class="introjames">
		App created as part of the Odin Project
Ruby on Rails section
		</p>
	</div>
	<div class="col">
		<ul>
			<li><%= link_to "My Github", '#' %></li>
			<li><%= link_to "The Odin Project", '#' %></li>
		</ul>
	</div>
</div>