<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
	<head>
		<title>Private Events <%= yield(:title) %> </title>
	</head>
	<body>
		<h1>Private Events</h1>
		<p>This will be the home page. With signup and log in links.</p>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	</body>
</html>