

<div class="events-wrapper">
	<div class="row events-header">
		<h2>Events Created by User.</h2>
	</div>

	<% if @upcoming_created_events.any? %>
		<button class="btn btn-block" id="user-events-header" type="button" data-toggle="collapse" data-target="#upcomingCreatedEvents" aria-expanded="false" aria-controls="upcomingCreatedEvents">
    	Upcoming Events (click to view)
  	</button>

  	<div class="collapse" id="upcomingCreatedEvents">
  		<div class="card card-body">
				<% @upcoming_created_events.each do |event| %>

					<div class="row" id="event-row">
						<p class="event-title"><%= link_to event.title, event %></p> 
						<p>Date: <%= event.date.strftime("%d/%m/%y") %></p>
					</div>
				<% end %>
			</div>
		</div>				
	<% end %>

	<% if @past_created_events.any? %>
		<button class="btn btn-block" id="user-events-header" type="button" data-toggle="collapse" data-target="#pastCreatedEvents" aria-expanded="false" aria-controls="pastCreatedEvents">
    	Previous Events (click to view)
  	</button>

  	<div class="collapse" id="pastCreatedEvents">
  		<div class="card card-body">
				<% @past_created_events.each do |event| %>

					<div class="row" id="event-row">
						<p class="event-title"><%= link_to event.title, event %></p> 
						<p>Date: <%= event.date.strftime("%d/%m/%y") %></p>
					</div>
				<% end %>
			</div>
		</div>				
	<% end %>
		
</div>


