<h1>Users#show</h1>
<h2>Profile page for: <%= @user.name %></h2>

<p>The email is <%= @user.email %></p>
<p>This page will list all the events that this user has created and maybe also the ones he is attending. Split past and future. Have a button to switch between created and attending. </p>


