<div class="container">
	<div class="row">
		<div class="col events-wrapper">
			<h1 class= "events-index"><center>Events</center></h1>

<% if @events.any? %>
	<div class="events-index-upcoming">
		<%= render 'upcoming_events' %>	
	</div>

	<div class="events-index-past">
		<%= render 'past_events' %>
	</div>	

<% else %>
	 There are no events
	
<% end %>

	</div>
</div>

</div>

