
<div class="row">
	<aside class="col-md-6 col-md-offset-3">
		

	

</div>
<div>
	<h2>Event title: <%= @event.title %></h2>

	<li>Location: <%= @event.location %></li>
	<li>Date and Time: <%= @event.date %></li>
	<li>Created by <%= @event.creator.name %></li>
</div>



		

		

